

<link href="build/css/style.css" media="all" rel="stylesheet" type="text/css" />
<link href="build/css/horizBarChart.css" media="all" rel="stylesheet" type="text/css" />
<div class="wrapper">
  <section>

    <h2>Example</h2>

    <!-- Code Start -->
    <div class="chart-horiz">
      <!-- Actual bar chart -->
      <ul class="chart">
        <li class="title" title="TITLE 1"></li>
        <li class="current" title="Label 1"><span class="bar" data-number="38000"></span><span class="number">38,000</span></li>
        <li class="current" title="Label 2"><span class="bar" data-number="28500"></span><span class="number">28,500</span></li>
        <li class="current" title="Label 3"><span class="bar" data-number="128000"></span><span class="number">128,000</span></li>
        <li class="current" title="Label 4"><span class="bar" data-number="134000"></span><span class="number">134,000</span></li>
      </ul>
    </div>
    <!-- Code End -->

  </section>

</div>
<script src="build/js/jquery.min.js"></script>
<script src="build/js/jquery.horizBarChart.min.js"></script>

<script>
  $(document).ready(function(){
    $('.chart').horizBarChart({
      selector: '.bar',
      speed: 1000
    });
  });
</script>
